<h4>Enter your service info</h4>
<form method="post" action="/services">
  <p><h5>
  <label for="service_item;">Service:</label>
  <input type="text" name="service_item" />
  </p>
  <p>
  <label for="date">Date of Service:</label>
  <input type="text" name="date" />
  </p>
  <p>
  <label for="mechanic">Mechanic:</label>
  <input type="text" name="mechanic" />
  </p></h5>
    <input type="submit" value="Add vehicle">
</form>