<h4>Enter your service info</h4>
<form method="post" action="/services">
<% binding.pry %>
  <p><h5>
  <label for="service_item;">Service:</label>
  <input type="text" name="service_item" />
  </p>
  <p>
  <label for="date">Date of Service:</label>
  <input type="text" name="date" />
  </p>
  <p>
  <label for="mechanic">Mechanic:</label>
  <input type="text" name="mechanic" />
  </p></h5>
    <input type="submit" value="Add service">
</form>

<% form_for(@message) do |f| %>
  <%= f.radio_button :contactmethod, 'email' %> 
  <%= f.label :contactmethod, 'Email', :value => 'email' %>
  <%= f.radio_button :contactmethod, 'sms' %>
  <%= f.label :contactmethod, 'SMS', :value => 'sms' %>
<% end %>
</form>