
  <h4>Login</h4>
  <form method="post" action"/login">
      <p><h5>
          <label for="email">Email:</label>
          <input type="text" name="email" />
      </p>
      <p>
          <label for="password">Password:</label>
          <input type="password" name="password" />
      </p>
      <input type="submit" value=Login /></h5>
    </form>

</body>
</html>

