
  <h4>Login</h4>
  <form method="post" action"/login">
      <p><h5>
          <label for="user[email]">Email:</label>
          <input type="text" name="user[email]" />
      </p>
      <p>
          <label for="user[password]">Password:</label>
          <input type="password" name="user[password]" />
      </p>
      <input type="submit" value=Login /></h5>
  </form>

</body>
</html>

