
  <body>
    <h3>Welcome to your vehicle maintenance tracker!</h3><br>
    <h4><a href="/login">Login<h4></a><br>
    <h4>or<h4><br>
    <h4>Enter an email and password to get started</h4>
    <form method="post" action"/signup"><br>
        <h5>
            <label for="email">Email:</label>
            <input type="text" name="email" />
        </h5><br>
        <h5>
            <label for="password">Password:</label>
            <input type="password" name="password" />
        </h5><br>
        <h5>
            <label for="password_confirmation">Confirm Password:</label>
            <input type="password" name="password_confirmation" />
        </h5><br>
        <input type="submit" value="Sign Up" />
    </form>

  </body>
</html>

