
  <body>
    <h3>Welcome to your vehicle maintenance tracker!</h3><br>
    <h4><a href="/login">Login<h4></a><br>
    <h4>or<h4><br>
    <h4>Create a user name and password to get started</h4>
    <form method="post" action"/signup"><br>
        <h5>
            <label for="user[email]">Email:</label>
            <input type="text" name="user[email]" />
        </h5><br>
        <h5>
            <label for="user[password]">Password:</label>
            <input type="password" name="user[password]" />
        </h5><br>
        <h5>
            <label for="user[password_confirmation]">Confirm Password:</label>
            <input type="password" name="user[password]" />
        </h5><br>
        <input type="submit" value="Sign Up" />
    </form>

  </body>
</html>

