<h1>Enter your vehicle info</h1>
<form method="post" action="/vehicles">
  <p>
  <label for="vehicle[make]";">Make:</label><input type="text" name="vehicle[make]" />
  </p>
  <p>
  <label for="vehicle[model]";">Model:</label><input type="text" name="vehicle[model]" />
  </p>
  <p>
  <label for="vehicle[year]";">Year:</label><input type="text" name="vehicle[year]" />
  </p>
    <input type="submit" value="Add vehicle">
</form>