<h4>Enter your vehicle info:</h4>
<form method="post" action="/vehicles">
  <p>
  <h5><label for="make;">Make:</label>
  <input type="text" name="make" />
  </p>
  <p>
  <label for="model">Model:</label>
  <input type="text" name="model" />
  </p>
  <p>
  <label for="year">Year:</label>
  <input type="text" name="year" /></h5>
  </p>
    <input type="submit" value="Add vehicle">
</form>